html, body {
    height: 100%; /* להבטיח שהרקע ימלא את כל הדף */
    margin: 0;
}

body {
    background-color: #f0f4c3;  /* צבע רקע של כל הדף */
}

.game-container {
    display: flex;
    flex-direction: column; /* לסדר את האלמנטים בעמודה */
    justify-content: space-between; /* למלא את כל החלל */
    align-items: center;
    padding: 20px;
    text-align: center;
    height: 100%; /* להבטיח שהגובה של הקונטיינר יתפוס את כל החלל */
    background-color: #f0f4c3; 
    position: relative;
}
.exit-icon {
    position: absolute;
    top: 20px; /* קצת יותר מרווח מהחלק העליון */
    left: 20px; /* קצת יותר מרווח מהשמאל */
    font-size: 2em; /* גודל גדול וברור */
    color: #f44336; /* צבע אדום כהה לדגש */
    cursor: pointer;
  }
  .progress-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    max-width: 600px;
  }
  
  .progress-info-left, .progress-info-right {
    font-size: 1.5em;
    color: #388e3c;
  }
  
  mat-progress-bar {
    flex-grow: 1;
    height: 25px;
    border-radius: 5px;
  }
  
  .progress-info {
    font-size: 1.5em;
    color: #388e3c;
  }
  

.game-title {
    color: green; /* צבע הכותרת ירוק */
    margin-bottom: 20px;
}

.points-container {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em; /* להגדיל את גודל הטקסט */
}

.dollar-icon {
    color: gold;
    font-size: 1em;
    margin-right: 10px;
    font-weight: bold;
  }
.question {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 10px; /* מרווח בין הכפתורים */
}

.yes-button {
    background-color: green; /* צבע ירוק לכפתור 'כן' */
    color: white; /* צבע טקסט לבן */
}

.no-button {
    background-color: red; /* צבע אדום לכפתור 'לא' */
    color: white; /* צבע טקסט לבן */
}

.exit-button {
    position: absolute;
    top: 10px;
    right: 10px;
}

.progress-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: auto; /* לדחוף את הפרוגרס בר לתחתית */
}

.progress-info {
    font-weight: bold;
}
.highlight {
    font-weight: bold; /* מדגיש את המילה */
    font-size: 22px; /* גודל טקסט גדול יותר */
    color: #3f51b5; /* צבע שונה להדגשה */
}

.category {
    font-weight: bold; /* מדגיש את שם הקטגוריה */
    font-size: 20px; /* גודל טקסט גדול יותר */
    color: #ff4081; /* צבע שונה לשם הקטגוריה */
}
