<div class="game-container" *ngIf="shuffledWords.length && isCurrentWordValid()">

  <mat-icon class="exit-icon" (click)="confirmExit()">logout</mat-icon>

  <h1 class="game-title">Sorter Game</h1> <!-- כותרת המשחק -->
  
  <div class="points-container">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<!-- אייקון כוכב להצגת נקודות -->
<i class="fas fa-star" style="color: gold; font-size: 24px;"></i>
    
    <span class="summary-points"><strong>{{ points }}</strong></span> <!-- טקסט הנקודות -->
  </div>

  <!-- השאלה ממורכזת באמצע הדף -->
  <p class="question">
    Does the word <span class="highlight">{{ shuffledWords[currentWordIndex].english }}</span> 
    belong to the category <span class="category">{{ currentCategory?.name }}</span>?
  </p>

  <!-- הכפתורים ממורכזים מתחת לשאלה -->
  <div class="button-container">
    <button mat-raised-button color="primary" (click)="checkAnswer(true)" class="yes-button">Yes</button>
    <button mat-raised-button color="warn" (click)="checkAnswer(false)" class="no-button">No</button>
  </div>

  <!-- progress bar ממורכז מתחת לכפתורים -->
  <div class="progress-container">
    <span class="progress-info-left">{{ currentWordIndex + 1 }}</span>
    <mat-progress-bar mode="determinate" [value]="progress"></mat-progress-bar>
    <span class="progress-info-right">{{ shuffledWords.length }}</span>
  </div>
</div>
