.card {
  cursor: pointer;
  background-color: #f9f9f9; /* צבע רקע לתיבה */
  border-radius: 15px; /* עיגול פינות */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* הצללה לתיבה */
  margin: 15px; /* מרווח בין תיבות */
  transition: transform 0.2s; /* אפקט שינוי גודל */
}

.card:hover {
  transform: scale(1.05); /* הגדלת התיבה בזמן ריחוף */
}

.game-title {
  font-weight: bold; /* הדגשה */
  color: #4CAF50; /* צבע ירוק כמו שציינת */
  font-size: 1.5em; /* גודל גופן גדול יותר */
}

mat-card-content p {
  font-size: 1em; /* גודל טקסט אחיד */
  color: #333; /* צבע טקסט כהה */
  margin: 10px 0; /* מרווח עליון ותחתון */
}
