.body {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
    background-color: #f5f5f5; 
}
.game-cards-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
    background-color: #f5f5f5; /* צבע רקע לעמוד */
  }
  
  .game-card-container {
    margin: 10px;
    width: 300px; /* רוחב קבוע לכרטיס */
    height: 300px; /* גובה קבוע לכרטיס */
    box-sizing: border-box;
  }
  
  .card {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center; /* ממרכז את כל הטקסט בכרטיס */
  }
  
  img {
    height: 200px;
    object-fit: cover;
    width: 100%;
  }
  
  .game-title {
    font-size: 1.5em;
    font-weight: bold;
    color: #3f51b5;
    margin: 0;
    text-align: center;
  }
  
  mat-card-content p {
    font-size: 1em;
    line-height: 1.5;
    color: #333;
    margin: 0 auto;
  }
  
  mat-card-actions {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
  