<div class="game-container">
  <h1 class="game-title">Mixed Letter Game</h1>

  <mat-icon class="exit-icon" (click)="confirmExit()">logout</mat-icon> <!-- שינינו את האייקון לאייקון 'logout' -->

  <div class="score-display">
    <i class="fas fa-dollar-sign dollar-icon"></i>
    <span>{{ totalPoints }}</span>
  </div>

  <p class="hebrew-word">{{ currentWord.hebrewTranslation }}</p>
  <p class="shuffled-word">{{ shuffledLetters.join(' ') }}</p>

  <input 
    [(ngModel)]="userInput" class="word-input"
    placeholder="Type the word here..." 
  />
  <div class="button-container">
    <button mat-raised-button class="game-button submit-button" (click)="checkWord()">Submit</button>
    <button mat-raised-button class="game-button reset-button" (click)="resetInput()">Reset</button>
  </div>

  <div class="progress-container">
    <span class="progress-info-left">{{ currentWordIndex + 1 }}</span> <!-- מספר המילה הנוכחית -->
    <mat-progress-bar mode="determinate" [value]="progress"></mat-progress-bar>
    <span class="progress-info-right">{{ currentCategory?.words?.length }}</span> <!-- סך המילים -->
  </div>
</div>
