<div class="game-container">
  <h1 class="game-title">Mixed Letter Game</h1>

  <mat-icon class="exit-icon" (click)="confirmExit()">logout</mat-icon> <!-- שינינו את האייקון לאייקון 'logout' -->

  <div class="points-container">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<!-- אייקון כוכב להצגת נקודות -->
<i class="fas fa-star" style="color: gold; font-size: 24px;"></i>
    
    <span class="summary-points"><strong>{{ totalPoints }}</strong></span> <!-- טקסט הנקודות -->
  </div>

  <p class="hebrew-word">{{ currentWord.hebrewTranslation }}</p>
  <p class="shuffled-word">{{ shuffledLetters.join(' ') }}</p>

  <input 
    [(ngModel)]="userInput" class="word-input"
    placeholder="Type the word here..." 
  />
  <div class="button-container">
    <button mat-raised-button class="game-button submit-button" (click)="checkWord()">Submit</button>
    <button mat-raised-button class="game-button reset-button" (click)="resetInput()">Reset</button>
  </div>

  <div class="progress-container">
    <span class="progress-info-left">{{ currentWordIndex + 1 }}</span> <!-- מספר המילה הנוכחית -->
    <mat-progress-bar mode="determinate" [value]="progress"></mat-progress-bar>
    <span class="progress-info-right">{{ currentCategory?.words?.length }}</span> <!-- סך המילים -->
  </div>
</div>
